body {
    background-image: url(../images/riddler.png);
    background-color: darkgrey;
    background-repeat: space ;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-questions {
    font-size: 36pt;
}

.time {
    float: left;
    font-size: 18pt;
}


.user-select {
    font-size: 18pt;
    border-style: solid;    
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 48pt;
}

.start {
    font-size: 12pt;
    text-align: center;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: lawngreen;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    
}
