body {
    background-image: url(../images/riddler.png);
    background-color: darkgrey;
    background-repeat: space ;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-questions {
    font-size: 36pt;
}

#time {
    float: right;
    right: 0%;
    font-size: 18pt;
}


.user-select {
    font-size: 18pt;
    border-style: solid;    
}

#choice-list, #save-form {
    display: none;
}



h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 48pt;
}

#start {
    font-size: 48pt;

   
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: limegreen;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0;
    
}
